
<!-- Form Start -->
<form class="form-horizontal" action='https://shouq-shkhuzae.c9users.io/students/<%= @student[0][0] %>' method='post'>
<input type='hidden' name='_method' value='patch'>
<fieldset>

    <!-- Form Name -->
    <legend>Create Student</legend>

    <!-- Text input for First Name-->
    <div class="form-group">
    <label class="col-md-4 control-label" for="firstname">First Name</label>  
    <div class="col-md-5">
    <input id="firstname" name="firstname" type="text" placeholder="enter first name" value="<%= @student[0][1] %>" class="form-control input-md">
    </div>
    </div>

    <!-- Text input for Last Name-->
    <div class="form-group">
    <label class="col-md-4 control-label" for="lastname">Last Name</label>  
    <div class="col-md-5">
    <input id="lastname" name="lastname" type="text" placeholder="enter last name" value="<%= @student[0][2] %>" class="form-control input-md">
    </div>
    </div>

    <!-- Text input for Email-->
    <div class="form-group">
    <label class="col-md-4 control-label" for="email">Email </label>  
    <div class="col-md-5">
    <input id="email" name="email" type="text" placeholder="enter email" value="<%= @student[0][4] %>" class="form-control input-md">
    </div>
    </div>

    <!-- Select Basic for Major-->
    <div class="form-group">
    <label class="col-md-4 control-label" for="major">Major</label>
    <div class="col-md-5">
    <select id="major" name="major" class="form-control">
   
      <option value="Information Systems" <% if @student[0][3]== "Information Systems" -%> selected="selected" <%end-%>> Information Systems</option>
      <option value="Computer Science"<% if @student[0][3]== "Computer Science" -%> selected="selected" <%end-%>>Computer Science</option>
      <option value="Biological Sciences" <% if @student[0][3]== "Biological Sciences" -%> selected="selected" <%end-%>>Biological Sciences</option>
      <option value="Business Adminstration" <% if @student[0][3]== "Business Adminstration" -%> selected="selected" <%end-%>>Business Adminstration</option>
      <option value="Computational Biology" <% if @student[0][3]== "Computational Biology" -%> selected="selected" <%end-%>>Computational Biology</option>
    </select>
    </div>
    </div>

    <!-- Select Basic for Status-->
    <div class="form-group">
    <label class="col-md-4 control-label" for="status">Status</label>
    <div class="col-md-5">
    <select id="status" name="status" class="form-control">
      <option value='Enrolled' <% if @student[0][5]== "Enrolled" -%> selected="selected" <%end-%>>Enrolled</option>
      <option value='Graduated' <% if @student[0][5]== "Graduated" -%> selected="selected" <%end-%>>Graduated</option>
    </select>
    </div>
    </div>


    <!-- Submit Button -->
    <div class="form-group">
    <label class="col-md-4 control-label" for="Submit"></label>
    <div class="col-md-4">
      <button id="Submit" name="Submit" class="btn btn-success">Submit</button>
    </div>
    </div>

</fieldset>
</form>

<!-- End of Form-->